*.meta

!AddressableAssetsData/**/*
!*.asmdef.meta
**/LightingData.asset
StreamingAssets/config.json
Developer.json
AssetStoreTools*
temp*
!Template*.cs
!*.unity.meta

!_Project/Scripts/**/*Installer.cs.meta
!_Project/Scripts/**/Editor/**/*.meta
!_Project/Scripts/**/View/**/*.meta
!_Project/Scripts/**/Editor.meta
!_Project/Prefabs/**/*.meta
!_Project/Textures/**/*.meta
!_Project/Scenes/**/*.meta
!_Project/Materials/**/*.meta
!_Project/Configs/**/*.meta

!_ThirdParty/**/*.meta
!Resources/**/*.meta
!AddressableAssetsData/**/*.meta
!Plugins/**/*.meta